.header {
  color: #555555;
  margin-bottom: 20px;
}

.header__name {
  margin-bottom: 10px;
}

.header__user {
  margin-bottom: 10px;
}

.header__date {
  margin-bottom: 10px;
}

.result {
  margin-bottom: 10px;
}

.result__success {
  color: #5b9018;
}

.result__fail {
  color: #c10b0b;
}