.footer {
  font-size: 16px;
  color: #555555;
  line-height: 20px;
  margin-bottom: 30px;
}

.footer__success {
  margin-top: 5px;
  color: #5b9018;
}

.footer__fail {
  margin-top: 5px;
  color: #c10b0b;
}